version: 2
jobs:
  build:
    docker:
      - image: circleci/elixir:1.7
        environment:
          MIX_ENV: test
    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}

      - restore_cache:
          keys:
            - v1-build-cache-{{ .Branch }}

      - run: mix do deps.get
      - run: mix ci

      - save_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths: "deps"

      - save_cache:
          key: v1-build-cache-{{ .Branch }}
          paths: "_build"

      - run: mix test --trace
